API_DOCS_V2_URL=https://dev.api.sqfi.rest/docs-yaml
API_DOCS_V1_EXTERNAL_URL=https://dev.api.v1.sqfi.rest/api-docs-api.json
API_DOCS_V1_TENANT_URL=https://dev.api.v1.sqfi.rest/api-docs-admin.json
API_DOCS_V1_FRONTEND_URL=https://dev.api.v1.sqfi.rest/api-docs-frontend.json
API_DOCS_V1_LEGACY_URL=https://dev.api.v1.sqfi.rest/api-docs-legacy.json
